[commit]
	gpgsign = true

[core]
	editor = nvim

[diff "jupyternotebook"]
	command = git-nbdiffdriver diff

[diff "odf"]
    textconv=odt2txt

[difftool]
	prompt = false

[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[github]
	user = codetalker7

[init]
	defaultBranch = main

[interactive]
	diffFilter = riff --color=on

[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver

[mergetool]
	prompt = false

[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[pager]
	diff = riff
	show = riff
	log = riff

[user]
	name = Siddhant Chaudhary
	email = urssidd@gmail.com
	username = codetalker7
	signingkey = 8CE8854D1BDF9FD9

[web]
	browser = brave-browse
